
test.py
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Shows-Sorter.iml
.idea/workspace.xml
__pycache__/json_API.cpython-311.pyc
__pycache__/json_API.cpython-311.pyc
__pycache__/json_API.cpython-311.pyc
*.json
*.txt
*.pyc
*.pyc
*.magnet
rss_ygg.py
mkvextract.exe
mkvinfo.exe
*.exe
*.conf
*.dat
*.conf
*.conf
*.crdownload
server.conf
*.mkv
